/*Style sheet for Lab1*/

body{font-family: Arial, Calibri; background-color: azure}
h1{font-family: Calibri; font-size: 40pt; color:darkcyan}
h2{font-family: Book Antiqua; font-size: 25pt; color:firebrick}
h3{font-family: ar destine; font-size: 18pt; color:#5c1fa3}
p.data{font-size: 150%; background-color:rgba(72, 83, 224, 0.6)}
p.inf{font-size: 150%; font-family: Centaur}
p.concept{font-size: 120%; font-family: Constantina}
p.lab3{font-family: Comic Sans MS; color: darkslategray, font-size: 20pt}